html{
    background: #f6f6f6;
    height: 100%;
}
.center{

}
.user-info{
    padding: 50px 0;
    background-color: #bbb;
	#background:#fff url(../images/f.jpg) no-repeat 0 0  fixed;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}
.user-avatar{
    display: block;
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.user-avatar img{
    width: 100%;
    height: 100%;
	 border-radius: 50%;
}
.user-avatar .vip{
    position: absolute;
    bottom: 6px;
    right: 0;
    color: #9266f9;
    color: #EF4444;
    background: #fff;
    font-size: 20px;
    border:1px  solid #FFF;
    border-radius: 50%;
}
.user-other{
    padding: 10px 50px;
}
.user-other p{
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 20px;
}

/**/
.other-list{
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.other-list .list-item{
    position: relative;
    background-color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;

}
.other-list .list-item:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 15px;
    height: 1px;
    background: #fff;
}
.other-list .list-item:last-of-type{
    border-bottom: none;
}
.other-list .list-item:last-of-type:after{
    background: #ddd;
}
.other-list .list-item .flex-1{
    line-height: 20px;
    padding: 0 10px;
    font-size: 15px;
}
.other-list .list-item .icon{
    font-size: 20px;
    vertical-align: middle;
}
.other-list .list-item .text-right{
    text-align: right;
    color: #bbb;
    font-size: 12px;
}
.other-list .list-item .out{
    color: #EF4444;
    text-align: center;
}
/*form*/
.edit-form{
    background-color: #fff;
    padding: 10px;
    position: relative;
    margin: 15px 0;
}
.edit-btn{
    color: #EF4444;
    padding: 0 15px;
}
.edit-form .input-text{
    display: block;
    border: none;
    width: 100%;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    resize: none;
    outline: none;
}
.edit-form textarea.input-text{
    height: 100px;
}
